<!--<div class="top">-->
  <!--<img src="assets/images/logo.jpg">-->
<!--</div>-->



<div class="app flex-row align-items-center">
  <div class="container">
    <div class="justify-content-center">
      <div class="login-title">
        <img src="assets/images/logotrans.png">
      </div>
      <p class="text-muted">用户名</p>
      <div class="input-group mb-1">
        <nz-input [nzType]="'text'"  [(ngModel)]="username"  [nzPlaceHolder]="'example@honeywell.com'"
                  [nzSize]="'large'" style="width: 5rem;height: 40px;font-size:16px;">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
      </div>
      <p class="text-muted">密码</p>
      <div class="input-group mb-2">
        <nz-input [nzType]="'password'"  [(ngModel)]="password"  [nzPlaceHolder]="'Password'"
                  [nzSize]="'large'" style="width: 5rem;height: 40px;font-size:16px">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
      </div>
      <div class="input-group mb-3  ">
        <label nz-checkbox  [(ngModel)]="_checked"  class="remember_password" >
          <span>记住密码</span>
        </label>
        <div class="forgetPassword"><a href="#">忘记密码？</a></div>
      </div>
      <button nz-button [nzType]="'primary'" style="width: 5rem;height: 40px;font-size:16px">
        <span>登录</span>
      </button>
    </div>
  </div>
</div>
