.top{
    img{
        margin-top: 0.25rem;
        margin-left: 0.3rem;
    }
}
.justify-content-center{
    margin-top: 2.8rem;
    width: 5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    button{
        background: #26a5ea;
        width: 100%;
        //margin-top: 0.3rem;
        border-radius: 0;
        height: 0.65rem;
      font-size:20px;
    }
}
.login-title{
    text-align: center;
    width:5rem;
  margin-bottom: 30px;
  img{
    width:60%;
  }
}
.text-muted {
    //color: #FFF;
  font-size: 18px;
    margin: 0.3rem 0 0.1rem 0;
}

.mb-3{
  align-items: center;
  height: 0.8rem;
  width:5rem;
  position: relative;
  .forgetPassword{
    display: inline-block;
    position: absolute;
    top:0.3rem;
    right: 0.1rem;
  }
  .remember_password{
    position: absolute;
    top:0.3rem;
    left: 0.1rem;
    font-weight:400;
  }

}


.ant-input-lg {
  padding: 6px 7px;
  height: 40px;
  width: 5rem;
}
