<div class="content">
  <div class="title">太阳能电厂位置:</div>
  <div class="location_table">
    <nz-table #nzTable [nzDataSource]="data" [nzSize]="'middle'" [nzPageSize]="10" [nzBordered]="true" [nzIsPagination]="false">
      <thead nz-thead>
      <tr style="background-color: grey">
        <th nz-th><span>编号</span></th>
        <th nz-th><span>太阳能电厂名称</span></th>
        <th nz-th><span>地理位置</span></th>
        <th nz-th><span>故障数目</span></th>
        <th nz-th><span>健康状态</span></th>
        <th nz-th><span>近次巡检时间</span></th>
        <th nz-th><span>预约巡检</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.SolarPowerPlantID}}</td>
        <td nz-td>{{data.SolarPowerPlant}}</td>
        <td nz-td>{{data.SppLocation}}</td>
        <td nz-td>{{data.DefectNumber}}</td>
        <td nz-td>{{data.HealthyState}}</td>
        <td nz-td>{{data.LastCheckTime}}</td>
        <td nz-td>{{data.BookDate}}</td>

      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="location_map">

  </div>
  <div class="check_history">
    <div class="title">巡检历史记录--青海力诺太阳能厂</div>
  </div>
</div>
